{% extends "::base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <h2 class="page-header">Create a Character</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
