{% extends 'base.html.twig' %}

{% block title %}List of Users{% endblock %}

{% block body %}
    <h1>Users list</h1>
    <div class="list_users">
        <table class ="table table-bordered table-stripped table-hover">
            <thead>
            <tr>
                <th>Username</th>
                <th>Last Login</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.lastconnect|date('Y-m-d H:i:s') }}</td>
                    {% if user.id is sameas(currentUser.id) %}
                    {% else %}
                    <td>
                        <a href="/sendMessage/{{user.id}}" class="btn btn-primary"> Send a message to a player </a>
                        <!-- replace by user_message -->
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
