{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>
    <div class="list_users">
        <table class ="table table-bordered table-stripped table-hover">
            <thead>
            <tr>
                <th>Username</th>
                <th>Last Login</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.lastconnect|date('Y-m-d H:i:s') }}</td>
                    <td>
                        <a href="{{ path('user_edit', { 'id': user.id }) }}">Send a message</a>
                        <!-- replace by user_message -->
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
