{% extends "::base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}

    {%  if not app.user %}

        <div class="jumbotron">
            <div class="container">
                <h1>Storyline (àchanger ?)</h1>
                <p> A game where you will have to face different creatures to prove your worth and win treasures, by  exploring dark dungeons. </p>
                <p><a class="btn btn-primary btn-lg" href="signUp" role="button">Sign Up Now&raquo;</a></p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>The Game</h2>
                    <p> The goal is to defeat as many enemies as possible to win as many victory points as possible at each dungeon.</p>

                </div>
                <div class="col-md-4">
                    <h2>Stamina</h2>
                    <p> Each action requires endurance: to move, to fight, to collect a treasure ...
Each of your characters regains a bit of endurance every hour. </p>

                </div>
                <div class="col-md-4">
                    <h2>Characters</h2>
                    <p> You can create up to three characters by personalizing their name, race, class, etc.
When one of your characters dies, he can not be resurrected. </p>
                </div>
            </div>

            <hr>

            <footer>
                <p> Perrine Pullicino et Gaëlle Marais  - PW6 </p>
            </footer>
        </div> 

    {% else %}

        <!-- if the user is connected -->

    {% endif %}
<!-- Code goes here -->

{% endblock %}
